/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - Header & Navigation      */
/*   03 - Intro      			   */
/*   04 - About		      		   */
/*   05 - About-1	      		   */
/*   06 - Skills				   */
/*   07 - Services         		   */
/*   08 - Features            	   */
/*   09 - History				   */
/*   10 - Statistic banner         */
/*   11 - Portfolio        		   */
/*   12 - Team					   */
/*   13 - Pricing				   */
/*   14 - Clients		 	  	   */
/*   15 - Testimonials	      	   */
/*   16 - Blog		 	  	   	   */
/*   17 - Promo LIne	 	  	   */
/*   18 - Contact Info 	  	   	   */
/*   19 - Google Map 	  	   	   */
/*   20 - Contacts	 	  	   	   */
/*   21 - Footer		 	  	   */
/*   22 - Scroll to Top	 	  	   */
/*   23 - Contact Form Response    */



/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */

#content_wrapper  {
	overflow: hidden;
}

.animated{
	visibility:hidden;
}

.visible{
	visibility:visible;
}

/*------------------------------------------*/
/*	 Preload Animation
/*------------------------------------------*/

.animationload {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #262626;
	z-index: 999999;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	width: 200px;
	height: 200px;
	background-image: url(../img/icons/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px 70px;
}

/*------------------------------------------*/
/*	 Headers
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 10px;
}

/*------------------------------------------*/
/*	 Lists
/*------------------------------------------*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*------------------------------------------*/
/*	 Link Setting
/*------------------------------------------*/

a {
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover {
	color: #444;
	text-decoration: none;
}

a:focus {
	color: #f8f8f8;
	outline: none;
	border: none;
	text-decoration: none;
}

/*------------------------------------------*/
/*	 Theme Button
/*------------------------------------------*/

.form_register .form-control {
    height: 44px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-theme {
	background-color: #e86737;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 20px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.btn-theme:hover {
	background-color: #ff6900;
	color: #fff;
}

/*------------------------------------------*/
/*	 Button Hover/Focus
/*------------------------------------------*/

.btn:focus {
	outline: none;
}

.btn:focus {
	color: #f8f8f8;
	text-decoration: none;
}

/*------------------------------------------*/
/*	 Section Titlebar
/*------------------------------------------*/

.titlebar {
	margin-bottom: 60px;
	text-align: center;
}

.titlebar h3 {
	color: #222;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.titlebar h2 {
	color: #222;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
}

.titlebar h2:after {
    display: block;
    content: "";
    height: 2px;
    width: 200px;
	background: #003a81;
    margin: 15px auto;
    position: relative;
}


.titlebar2 h2:after {
    display: block;
    content: "";
    height: 2px;
    width: 200px;
	background: #fff;
    margin: 15px auto;
    position: relative;
}


/* ==========================================================================
   02. HEADER & NAVIGATION
   ========================================================================== */

/*------------------------------------------*/
/*	 Logo Image
/*------------------------------------------*/

.navbar-brand {
	padding: 18px 15px;
}

/*------------------------------------------*/
/*	 Navigation Menu
/*------------------------------------------*/

.navbar {
	margin-bottom: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	padding:18px 0px;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.navbar-fixed-top {
	background-color: #fff;
	border-bottom: none;
}

.navbar-nav > li > a {
	color: #fff;
	font-size: 14px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	padding: 0 15px;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

/*------------------------------------------*/
/*	 Navbar Scroll
/*------------------------------------------*/

.scroll-fixed-navbar {
	padding: 0;
}

.scroll-fixed-navbar.navbar-fixed-top {
	background-color: #fff;
	border-bottom: 1px solid #003a81;
	    padding-top: 17px;
		padding-bottom:19px;
}

/*------------------------------------------*/
/*	 Menu Hover
/*------------------------------------------*/
.navbar-toggle {
    position: relative;
    float: right;
	background-color: rgb(40, 179, 31);
    padding: 10px;
	margin: 13px 30px 13px 0 none;
	border: none;
	color: #fff;

}

.navbar-toggle .icon-bar {
	background-color: #ddd;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a.selected-nav {
	color: #ff6900;
	background-color: transparent;
}

/*------------------------------------------*/
/*	 Responsive Menu
/*------------------------------------------*/

.navbar-toggle {
    position: relative;
    float: none;
	background-color:  rgb(40, 179, 31);
    padding: 10px;
	margin: 0 auto;
	border: none;
	color: #fff;
	border: 2px solid #ddd;

}

.navbar-toggle .icon-bar {
	background-color: #ddd;
}



/* ==========================================================================
   03. INTRO
   ========================================================================== */

#intro {
	width: 100%;
	background-image: url(../img/thumbs/pattern.jpg);
	background-repeat: repeat;
	background-position: 0 0;
	background-color: #fff;
	color: #fff;
	    background-size: cover;
}

/*------------------------------------------*/
/*	 INTRO CONTENT
/*------------------------------------------*/

#intro_content {
	padding-top: 177px;
	padding-bottom: 93px;
}

/*------------------------------------------*/
/*	 INTRO TEXT
/*------------------------------------------*/

#intro h2 {
	font-size: 41px;
	font-weight: 800;
	line-height: 50px;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

#intro h3 {
	font-size: 34px;
	font-weight: 800;
	line-height: 30px;
	margin-bottom: 20px;
}

.intro_text p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 25px;
}

/*------------------------------------------*/
/*	 INTRO BUTTONS
/*------------------------------------------*/

.intro_buttons .btn-theme {
	background-color: #00a29a;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	margin-right: 10px;
	padding: 9px 18px;
	text-transform: uppercase;
}

.intro_buttons .btn-theme:hover {
	background-color: #ff6900;
}

/*------------------------------------------*/
/*	 INTRO IMAGE
/*------------------------------------------*/

#intro_image .img-responsive {
	display: inline-block;
}



/* ==========================================================================
   04. ABOUT
   ========================================================================== */

#about {
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	TABS HOLDER IMAGE
/*------------------------------------------*/

#tabs-holder .img-responsive {
	display: inline-block;
}

/*------------------------------------------*/
/*	TABS
/*------------------------------------------*/

.nav-tabs {
	border:none;
}

.nav-tabs > li > a {
	color: #222;
    font-size: 22px;
	font-family: Raleway, sans-serif;
    font-weight: 400;
	text-transform: uppercase;
	padding: 0;
	border: none;
}

.nav-tabs > li:first-child {
	border-right: 1px solid #999;
	padding-right: 20px;
}

.nav-tabs > li:last-child {
	padding-left: 20px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #e86737;
	border: none;
	padding: 0;
}

.nav-tabs > li > a:hover {
	color: #ff6900;
	border: none;
}

/*------------------------------------------*/
/*	Tab Description
/*------------------------------------------*/

.tab-content > .tab-pane {
    padding: 25px 0;
	border: none;
	border: none;
}

.tab-content > .tab-pane p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}

.tab-content a {
	margin-top: 20px;
	margin-right: 10px;
}



/* ==========================================================================
   05. ABOUT-1
   ========================================================================== */

#about-1 {
	background-color: #f5f5f5;
	border-top: 1px solid #eee;
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	ACCORDION HOLDER IMAGE
/*------------------------------------------*/

#accordion-holder .img-responsive {
	display: inline-block;
}

/*------------------------------------------*/
/*	ACCORDION
/*------------------------------------------*/

.panel-group .panel {
    margin-bottom: 10px;
    background: none;
    border: none;
    border-radius: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*------------------------------------------*/
/*	Panel Title
/*------------------------------------------*/

.panel-heading {
    padding: 0;
    background: none !important;
    border: 0 !important;
}

.panel-title {
    color: #222;
	font-size: 20px;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

.panel-title > a {
    display: block;
    color: #222;
    padding: 12px 0;
}

.panel-title > a:hover {
    color: #ff6900;
}

/*------------------------------------------*/
/*	Panel Title Icon
/*------------------------------------------*/

.panel-title i {
	color: #004e9b;
	font-size: 28px;
	margin-right: 10px;
}

/*------------------------------------------*/
/*	Panel Content
/*------------------------------------------*/

.panel-body {
	color: #444;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border: 0
}

.panel-default > .panel-heading + .panel-collapse {
    border: none;
    border-top: none;
}



/* ==========================================================================
   06. SKILLS
   ========================================================================== */

#skills {
	background-image: url(../img/parallax_bg/skills.jpg);
	background-attachment: fixed !important;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #fff;
}

/*------------------------------------------*/
/*	 SKILLS TITLEBAR
/*------------------------------------------*/

#skills .titlebar {
	margin-bottom: 30px;
}

#skills .titlebar h2 {
	color: #fff;
}

#skills .titlebar h2:after {
    display: block;
    content: "";
    height: 2px;
    width: 100px;
	background: #ff6900;
    margin: 15px auto;
    position: relative;
}

/*------------------------------------------*/
/*	 Circle Progress Bars
/*------------------------------------------*/

.chart {
	position: relative;
	width: 130px;
	height: 130px;
	margin: 0 auto;
}

.chart canvas{
	position: absolute;
	top: 0;
	left: 0;
}

.chart span{
	color: #a9a9a9;
	font-size: 40px;
	font-family: Raleway, sans-serif;
	font-weight: 800;
	line-height: 130px;
	display: inline-block;
}

.chart span:after{
	content: '%';
	margin-left: 0;
	font-size: 40px;
}

#skills h4 {
    font-size: 24px;
	font-weight: 700;
	margin-top: 25px;
}



/* ==========================================================================
   07. SERVICES
   ========================================================================== */

#services {
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	  SERVICE IMAGE
/*------------------------------------------*/

#services_image .img-responsive {
	display: inline-block;
	margin-bottom: 80px;
}

/*------------------------------------------*/
/*	  SERVICE BOX
/*------------------------------------------*/

.service-box {
	margin-bottom: 40px;
}

.service-box h4 {
	color: #222;
	font-size: 20px;
	font-weight: 400;
}

.service-box i {
	margin-right: 10px;
}

.service-box p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
}

/*------------------------------------------*/
/*	  SERVICE BUTTONS
/*------------------------------------------*/

#service-buttons {
	margin-top: 30px;
}

#service-buttons a {
	margin-right: 20px;
}



/* ==========================================================================
   08. FEATURES
   ========================================================================== */

#features {
	background-image: url(../img/parallax_bg/features.jpg);
	background-attachment: fixed !important;
	background-repeat: repeat;
	background-position: 0 0;
	padding-top: 80px;
	padding-bottom: 40px;
	color: #fff;
}

/*------------------------------------------*/
/*	  FEATURES TITLEBAR
/*------------------------------------------*/

#features .titlebar h3, #features .titlebar h2 {
	color: #fff;
}

/*------------------------------------------*/
/*	  FEATURE BOX
/*------------------------------------------*/

.features-box {
    margin-bottom: 40px;
}

/*------------------------------------------*/
/*	  Feature Icon
/*------------------------------------------*/

.icon-box {
    width: 70px;
    height: 70px;
    line-height: 70px !important;
    text-align: center;
    float: left;
    font-size: 22px;
    color: #fff;
}

.icon-box i {
	color: #ff6900;
    font-size: 60px;
	margin-top: 10px;
}

/*------------------------------------------*/
/*	  Feature Text
/*------------------------------------------*/

.features-text {
    overflow: hidden;
    padding: 0px 0px 0px 30px;
}

.features-text h4 {
	font-size: 20px;
	font-weight: 400;
}

.features-text p {
	color: #ddd;
	font-size: 16px;
    font-weight: 300;
	line-height: 26px;
	padding-right: 20px;
}



/* ==========================================================================
   09. HISTORY
   ========================================================================== */

#history {
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	 TIMELINE
/*------------------------------------------*/

.timeline {
    background-image: url(../img/thumbs/timeline-bg.png);
	background-repeat: repeat-y;
	background-position: center center;
	background-color: transparent;
}

/*------------------------------------------*/
/*	 TIMELINE YEAR
/*------------------------------------------*/

.timeline-year {
    padding: 30px 0 30px;
}

.timeline-year.first {
    padding-top: 0;
}

.timeline-year.last {
    padding-bottom: 0;
}

.timeline-year span {
    background-color: #ff6900;
    color: #333;
	font-size: 20px;
	font-family: Raleway, sans-serif;
	font-weight: 700;
    padding: 10px 20px;
}

/*------------------------------------------*/
/*	 TIMELINE ITEM
/*------------------------------------------*/

.timeline-item {
    display: table;
    position: relative;
}

.timeline-item:before {
	width: 30px;
	height: 30px;
    background-color: #fff;
	border: 2px solid #d5d5d5;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.timeline-item-content {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    position: relative;
	padding: 20px;
	font-size: 16px;
    font-weight: 300;
	line-height: 26px;
}

/*------------------------------------------*/
/*	Timeline Item Content Arrow
/*------------------------------------------*/

.timeline-item-content:before {
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
	content: "";
	position: absolute;
    right: -11px;
    top: 50%;
    margin-top: -9px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.timeline-item-content.pull-right:before {
    right: auto;
    left: -10px;
}

.timeline-item-content h4 {
    font-size: 20px;
	font-weight: 400;
}

/*------------------------------------------*/
/*	Timeline Item Hover
/*------------------------------------------*/

.timeline-item:hover .timeline-item-content {
	border: 1px solid #262626;
    background-color: #262626;
	color: #fff;
}

.timeline-item:hover .timeline-item-content:before {
	background-color: #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
}

.timeline-item:hover.timeline-item:before {
	background-color: #ff6900;
	border-color: #ff6900;
}

.timeline-item:hover .timeline-item-content.pull-right:before {
    border-color: transparent transparent #262626 #262626;
}



/* ==========================================================================
   10. STATISTIC BANNER
   ========================================================================== */

#statistic_banner {
	background-image: url(../img/parallax_bg/statistic-banner.jpg);
	background-attachment: fixed !important;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	  STATISTIC BANNER TITLEBAR
/*------------------------------------------*/

#statistic_banner .titlebar h3,
#statistic_banner .titlebar h2 {
	color: #fff;
}

/*------------------------------------------*/
/*	  STATISTIC BLOCK
/*------------------------------------------*/

.statistic-block {
	text-align: center;
}

.statistic-icon {
	color: #fff;
	font-size: 80px;
	line-height: 80px;
	font-weight: 700;
	margin-bottom: 30px;
}

.statistic-number {
	color: #fff;
	font-size: 80px;
	font-family: Raleway, sans-serif;
	line-height: 80px;
	font-weight: 400;
	margin-bottom: 20px;
}

.statistic-text {
	color: #fff;
	font-size: 24px;
	font-family: Raleway, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}


/* ==========================================================================
   11. LATEST WORKS
   ========================================================================== */

#portfolio {
	padding-top: 80px;
}

/*------------------------------------------*/
/*	   PORTFOLIO TITLEBAR
/*------------------------------------------*/

#portfolio .titlebar {
	margin-bottom: 40px;
}

/*------------------------------------------*/
/*	  FILTER BUTTONS
/*------------------------------------------*/

#gallery-filter {
	margin-bottom: 50px;
}

.btn-toolbar .btn-group {
    float: none;
}

/*------------------------------------------*/
/*	   Button Settings
/*------------------------------------------*/

#gallery-filter .btn-group > .btn {
	background: #f4f4f4;
    color: #333;
	font-size: 15px;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 3px;
	padding: 8px 16px;
	text-shadow: none;
	-webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
     box-shadow: 0 0 0 0;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.btn-group > .btn:first-child:not(:last-child),
.btn-group > .btn:last-child:not(:first-child) {
 	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*------------------------------------------*/
/*	   Filter Button Hover
/*------------------------------------------*/

#gallery-filter .btn-group > .btn:hover {
	color: #fff;
	background-color: #ff6900;
}

/*------------------------------------------*/
/*	  Filter Button Active
/*------------------------------------------*/

#gallery-filter .btn-group > .btn.active,
#gallery-filter .btn-group > .btn.focus {
	color: #222;
	background-color: #ff6900;
	box-shadow: 0 0 0 0;
	cursor: default;
}

/*------------------------------------------*/
/*	  PORTFOLIO IMAGES HOLDER
/*------------------------------------------*/

.portfolio-items-list {
	margin: 0;
}

/*------------------------------------------*/
/*	  Portfolio Item
/*------------------------------------------*/

.portfolio-item {
	position: relative;
	display: none;
    opacity: 0;
	-moz-opacity: 0;
	padding: 0;
	text-align: center;
}

.portfolio-item a {
	cursor: url(../img/icons/pointer.png),crosshair;
}

.hover-overlay {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.hover-overlay img {
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-o-transition: all 600ms;
	transition: all 600ms;
}

/*------------------------------------------*/
/*	  Overlay Content
/*------------------------------------------*/

.overlay-content {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	text-align: center;
	zoom: 1;
	opacity: 0;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.overlay-content h4 {
	color: #fff;
	font-size: 22px;
	font-weight: 800;
	text-transform: uppercase;
}

.overlay-content h5 {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
}

/*------------------------------------------*/
/*	  Overlay Background
/*------------------------------------------*/

.item-overlay {
	opacity: 0;
	-moz-opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(225, 196, 0, 0.75);
	-moz-transition: opacity 400ms ease-out;
	-webkit-transition: opacity 400ms ease-out;
	-o-transition: opacity 400ms ease-out;
	transition: opacity 400ms ease-out;
}

/*------------------------------------------*/
/*	  Image Hover Effect
/*------------------------------------------*/

.hover-overlay:hover > img {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.hover-overlay:hover .item-overlay {
	opacity: 1;
	-moz-opacity: 1;
}

.portfolio-item:hover .overlay-content {
	bottom: 40%;
	opacity: 1;
	-moz-opacity: 1;
}



/* ==========================================================================
   12. TEAM
   ========================================================================== */

#team {
	padding-top: 80px;
	padding-bottom: 30px;
}

/*------------------------------------------*/
/*	  TEAM MEMBER
/*------------------------------------------*/

.team-member {
	margin-bottom: 50px;
}

.team-member .img-responsive {
	display: inline-block;
}

/*------------------------------------------*/
/*	  Team Member Meta
/*------------------------------------------*/

.team-img-meta h5 {
	text-transform: uppercase;
	font-weight: 800;
	margin: 20px 0px 10px 0;
}

.team-img-meta h6 {
	font-size: 14px;
	color: #ff6900;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
}

.team-img-meta p {
	color: #757575;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

/*------------------------------------------*/
/*	  Team Member Social Icons
/*------------------------------------------*/

.team-member-socials {
	text-align: right;
	display: inline-block;
	margin: 10px auto;
}

.team-member-socials li {
	float: left;
    display: inline-block !important;
    vertical-align: top;
    width: auto !important;
    clear: none !important;
}

.page_social {
    width: 30px;
    height: 30px;
	color: #666;
	font-size: 16px;
    text-align: center;
    display: block;
    text-decoration: none;
	margin: 0 3px 5px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

/*------------------------------------------*/
/*	 Team Member Social Icons Hover
/*------------------------------------------*/

.page_social.ico_facebook:hover {color: #3b5998;}
.page_social.ico_twitter:hover {color: #00a9ed;}
.page_social.ico_behance:hover {color: #00a8e7; }
.page_social.ico_google_plus:hover {color: #cd1111;}
.page_social.ico_linkedin:hover {color: #015886;}
.page_social.ico_dribbble:hover {color: #d92d84;}
.page_social.ico_instagram:hover {color: #beb3a8;}
.page_social.ico_pinterest:hover {color: #ac281a;}
.page_social.ico_dropbox:hover {color: #008ad2;}
.page_social.ico_skype:hover {color: #00a9ed; }
.page_social.ico_youtube:hover {color: #cd1b20; }
.page_social.ico_tumblr:hover {color: #3a5976;}
.page_social.ico_vimeo:hover {color: #00adee;}
.page_social.ico_flickr:hover {color: #d2d2d2;}
.page_social.ico_github:hover {color: #222;}
.page_social.ico_renren:hover {color: #364a83;}
.page_social.ico_vk:hover {color: #3b5998; }
.page_social.ico_xing:hover {color: #015f5e;}
.page_social.ico_weibo:hover {color: #be4443;}
.page_social.ico_rss:hover {color: #ff6600;}
.page_social.ico_digg:hover {color: #222;}
.page_social.ico_deviantart:hover {color: #57675d;}
.page_social.ico_envelope:hover {color: #999;}
.page_social.ico_delicious:hover {color: #0A0A0A; }




/* ==========================================================================
   13. PRICING
   ========================================================================== */

#pricing {
	background-color: #f5f5f5;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 80px;
	padding-bottom: 50px;
}

/*------------------------------------------*/
/*	 PRICING TABLE
/*------------------------------------------*/

#price_1, #price_2, #price_3, #price_4 {
	margin-bottom: 50px;
	padding: 0 5px;
}

.pricing-table {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*------------------------------------------*/
/*	 Table Header
/*------------------------------------------*/

.pricing-table h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 100px;
	text-transform: uppercase;
	margin-bottom: 0;
}

/*------------------------------------------*/
/*	 Table Price Plan
/*------------------------------------------*/

.pricing-table .price {
	background-color: #eee;
	height: 120px;
	color: #222;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	line-height: 120px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.price-row .price span {
	font-size: 75px;
}

.price-row .price sup {
    top: -35px;
	font-size: 30px;
	font-weight: 300;
}

/*------------------------------------------*/
/*	 Table Body
/*------------------------------------------*/

.pricing-table ul.features {
	color: #333;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
    padding: 5px 40px;
}

.pricing-table ul.features li {
    border-bottom: 1px solid #ccc;
    padding: 13px 0;
}

/*------------------------------------------*/
/*	 Table Button
/*------------------------------------------*/

.pricing-table .btn {
	margin: 30px 0;
}

/*------------------------------------------*/
/*	 Table Highlight
/*------------------------------------------*/

.pricing-table.highlight  {
	background-color: #fff;
	border-color: #ccc;
}

.pricing-table.highlight .price {
	;
	color: #000;
	border-color: #fff;
}

.pricing-table.highlight ul.features {
	color: #333;
}

.pricing-table.highlight ul.features li {
    border-color: #ccc;
}

/*------------------------------------------*/
/*	 Table Highlight Buttons
/*------------------------------------------*/

.pricing-table.highlight .btn-theme {
	background-color: #ff6900;
	color: #fff;
}

.pricing-table.highlight .btn-theme:hover {
	background-color: #444;
}



/* ==========================================================================
   14. CLIENTS
   ========================================================================== */

#clients {
	padding-top: 80px;
	padding-bottom: 150px;
	position: relative;
}

/*------------------------------------------*/
/*	 CLIENTS CAROUSEL NAVIGATION
/*------------------------------------------*/

.customNavigation {
	display: inline-block;
	position: absolute;
	bottom: 80px;
	right: 49%;
}

.customNavigation .btn {
	padding: 4px 10px;
}

.customNavigation i {
	font-size: 20px;
	color: #fff;
}



/* ==========================================================================
   15 TESTIMONIALS
   ========================================================================== */

#testimonials {
	background-color: #f5f5f5;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	  TESTIMONIALS TITLEBAR
/*------------------------------------------*/

#testimonials h3 {
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#testimonials .clients-counter {
	color:  #ff6900;
	font-size: 30px;
	font-weight: 700;
}

/*------------------------------------------*/
/*	  Testimonial Message
/*------------------------------------------*/

.testi-content {
	background-color: #fff;
	position: relative;
	padding: 0;
	margin: 0 0 40px;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.testimonial p {
	color: #777;
	margin: 0;
	padding: 20px 15px;
}

/*------------------------------------------*/
/*	  Testimonial Message Arrow
/*------------------------------------------*/

.testi-arrow {
	height: 32px;
	width: 32px;
	background-image: url(../img/icons/testimonial-arrow-down.png);
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: transparent;
	position: absolute;
	top: 100%;
	left: 47%;
}

/*------------------------------------------*/
/*	  Testimonial Message Avatar
/*------------------------------------------*/

.testimonial .client-img {
	width: 65px;
	height: 65px;
	display: inline-block;
	margin:0 auto 10px;
}

.testimonial .client-img img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

/*------------------------------------------*/
/*	  Testimonial Message Author
/*------------------------------------------*/

.testimonial .testi-author {
	display: inline-block;
	padding: 0 0 0 15px;
	text-align: left;
	position: relative;
	top: 10px;
}

.testimonial h4 {
	color: #000;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0;
	display: block;
}

.testimonial span {
	color:#999;
	font-size: 15px;
	margin: 0 0 20px;
	display: block;
}



/* ==========================================================================
   16. BLOG
   ========================================================================== */

#blog {
	padding-top: 80px;
	padding-bottom: 50px;
}

/*------------------------------------------*/
/*	  BLOG ARTICLE
/*------------------------------------------*/

#blog article {
	margin-bottom: 50px;
}

/*------------------------------------------*/
/*	  Blog Post Titlebar
/*------------------------------------------*/

#blog .blog-post-titlebar h4 {
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	margin: 20px 0 5px;
	text-transform: uppercase;
}

/*------------------------------------------*/
/*	  Blog Post Meta
/*------------------------------------------*/

.blog-post-info {
	color: #666;
	padding-bottom: 10px;
	font-style: italic;
}

.blog-post-info a {
	color: #ff6900;
}

/*------------------------------------------*/
/*	  Blog Post Description
/*------------------------------------------*/

.blog-post-desc {
	line-height: 24px;
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	  Blog Post Button
/*------------------------------------------*/

#blog .btn-theme {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 8px 16px;

}

/*------------------------------------------*/
/*	  Video Content Settings
/*------------------------------------------*/

.video-block {
	position: relative;
	padding-bottom: 75.25%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}

.video-block iframe,
.video-block object,
.video-block embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}



/* ==========================================================================
   17. PROMO LINE
   ========================================================================== */

#promo_line {
	background-image: url(../img/parallax_bg/promo-line.jpg);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	 PROMO LINE CONTENT
/*------------------------------------------*/

#promo_line h2 {
	color: #fff;
	font-size: 36px;
	line-height: 42px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#promo_line p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 36px;
	margin-bottom: 20px;
}

#promo_line a {
	margin-right: 15px;
}



/* ==========================================================================
   18. CONTACT-INFO
   ========================================================================== */

#contact-info {
	padding-top: 80px;
	padding-bottom: 30px;
}

/*------------------------------------------*/
/*	 Contact Info
/*------------------------------------------*/

.contact-info {
    margin-bottom: 40px;
}

/*------------------------------------------*/
/*	 Contact Info Icon
/*------------------------------------------*/

.contact-info .fa {
    color: #003a81;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

/*------------------------------------------*/
/*	 Contact Text
/*------------------------------------------*/

.contact-info h4 {
	color: #222;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 800;
}

.contact-info p {
	color: #666;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

.contact-info a {
	color: #ff6900;
	font-weight: 700;
}

.contact-info a:hover {
  color: #ff6900;
}



/* ==========================================================================
   19. GOOGLE MAP
   ========================================================================== */

.googlemap-wrapper {
  position: relative;
}

.googlemap-wrapper img {
  max-width: none !important;
}

.map-canvas {
  width: 100%;
  height: 500px;
  padding: 6px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}

.map-canvas:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  color: #2f2f2f;
  content: '\f110';
  text-align: center;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  line-height: 30px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* ==========================================================================
   20. CONTACTS
   ========================================================================== */

#contact {
	background-image: url(../img/parallax_bg/contacts.jpg);
	background-attachment: fixed !important;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	color: #aaa;
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	  Contact Titlebar
/*------------------------------------------*/

#contact .titlebar {
	margin-bottom: 20px;
}

#contact .titlebar h3,
#contact .titlebar h2 {
	color: #ddd;
}

/*------------------------------------------*/
/*	  CONTACT FORM
/*------------------------------------------*/

#contact-form {
	margin-top: 30px;
}
/*------------------------------------------*/
/*	  Contact Form Input
/*------------------------------------------*/

#contact-form .form-control {
	height: 50px;
	background-color: rgba(30, 30, 30, 0.3);
	font-size: 14px;
	margin-bottom: 20px;
	border: 1px solid #666;
	box-shadow: 0 0 0 0;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	background-color: #f3f3f3;
	color: #444;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 12px 0;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	box-shadow: 0 0 0 0;
}

#contact-form textarea {
	min-height: 200px;
}

/*------------------------------------------*/
/*	  Contact Form Input Focus
/*------------------------------------------*/

.form-control:focus {
    outline: 0px none;
    box-shadow: none;
}

/*------------------------------------------*/
/*	  Contact Form Submit Button
/*------------------------------------------*/

#form_btn {
	margin-top: 20px;
}

#form_btn .btn-theme {
	font-size: 16px;
	font-weight: 700;
	padding: 10px 20px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/*------------------------------------------*/
/*	  Contact Form Error Message
/*------------------------------------------*/

.error {
	color: red;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 20px;
}



/* ==========================================================================
   21. FOOTER
   ========================================================================== */

#footer {
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: #FFF;
}

/*------------------------------------------*/
/*	  Newsletter
/*------------------------------------------*/

#newsletter {
	margin-bottom: 10px;
}

#newsletter h3 {
	color: #ddd;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 5px;
}

#newsletter p {
	color: #ddd;
	line-height: 26px;
	font-weight: 300;
	margin-bottom: 0;
}

.message {
	font-size: 15px;
	margin-bottom: 20px;
}

#newsletter_form {
	margin: 15px auto;
	width: 50%;
}

/*------------------------------------------*/
/*	  Newsletter Form Input
/*------------------------------------------*/

#newsletter form input[type="email"] {
    background-color: #fff;
	border: 1px solid #ccc;
	width: 74%;
	color: #414141;
	font-size: 16px;
    font-weight: 300;
    padding: 10px 15px;
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-o-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
}

#newsletter form input[type="submit"] {
	width: 25%;
	background-color: #ff6900;
	border: 1px solid #ff6900;
	color: #fff;
	font-size: 16px;
    font-weight: 900;
	text-transform: uppercase;
    padding: 10px 15px;
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	-o-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

#newsletter form input[type="submit"]:hover {
	background-color: #e86737;
}


#footer_copyright p {
	color: #ddd;
	line-height: 40px;
}

#footer_copyright p span {
	color: #ff6900;
	font-size: 15px;
	font-weight: 800;
}

/*------------------------------------------*/
/*	 Footer Social Icons
/*------------------------------------------*/

.contact-socials {
	display: inline-block;
	padding-left: 0;

}

.contact-socials li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	padding: 0;
}

/*------------------------------------------*/
/*	 Footer Social Icon Setting
/*------------------------------------------*/

.foo_social {
	text-align: center;
	color: #999;
	width: 40px;
	height: 40px;
	font-size: 18px;
    line-height: 40px;
	margin: 0 5px;
    display: block;
    text-decoration: none;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

/*------------------------------------------*/
/*	 Footer Social Icons Hover
/*------------------------------------------*/

.foo_social.ico-facebook:hover {background-color: #3b5998; color: #fff;}
.foo_social.ico-twitter:hover {background-color: #00a9ed; color: #fff;}
.foo_social.ico-behance:hover {background-color: #00a8e7; color: #fff;}
.foo_social.ico-google-plus:hover {background-color: #cd1111; color: #fff;}
.foo_social.ico-linkedin:hover {background-color: #015886; color: #fff;}
.foo_social.ico-dribbble:hover {background-color: #d92d84; color: #fff;}
.foo_social.ico-instagram:hover {background-color: #beb3a8; color: #fff;}
.foo_social.ico-pinterest:hover {background-color: #ac281a; color: #fff;}
.foo_social.ico-dropbox:hover {background-color: #008ad2; color: #fff;}
.foo_social.ico-skype:hover {background-color: #00a9ed; color: #fff;}
.foo_social.ico-youtube:hover {background-color: #cd1b20; color: #fff;}
.foo_social.ico-tumblr:hover {background-color: #3a5976; color: #fff;}
.foo_social.ico-vimeo:hover {background-color: #00adee; color: #fff;}
.foo_social.ico-flickr:hover {background-color: #d2d2d2; color: #fff;}
.foo_social.ico-github:hover {background-color: #222; color: #fff;}
.foo_social.ico-renren:hover {background-color: #364a83; color: #fff;}
.foo_social.ico-vk:hover {background-color: #3b5998; color: #fff;}
.foo_social.ico-xing:hover  {background-color: #015f5e; color: #fff;}
.foo_social.ico-weibo:hover  {background-color: #be4443; color: #fff;}
.foo_social.ico-rss:hover{background-color: #ff6600; color: #fff;}
.foo_social.ico-digg:hover  {background-color: #222; color: #fff;}
.foo_social.ico-deviantart:hover {background-color: #57675d; color: #fff;}
.foo_social.ico-envelope:hover {background-color: #999; color: #fff;}
.foo_social.ico-delicious:hover {background-color: #0A0A0A; color: #fff;}



/* ==========================================================================
   22. SCROLL TO TOP
   ========================================================================== */

#scrollUp {
	display: none;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-image: url(../img/icons/back-to-top.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color:rgba(0, 58, 129, 0.84);
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;
}

#scrollUp:hover {
	background-color:rgba(0, 58, 129, 0.54);
}

nav a#pull {
    display: none;
}



/* ==========================================================================
   23. CONTACT FORM RESPONSE PAGE
   ========================================================================== */

#form_response {
	margin: 50px auto;
}

#form_response .img-responsive {
	display: inline-block;
}

#form_response h1 {
	font-size: 26px;
	font-weight: 400;
	margin-top: 10px;
	text-transform: uppercase;
}

#form_response p {
	font-size: 16px;
	font-weight: 300;
	line-height:24px;
	margin-bottom: 20px;
}

#form_response .btn-theme {
	background-color: #ff6900;
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 20px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#form_response .btn-theme:hover {
	background-color: #ff6900;
	color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,800,500,300,600);

#nav_bar_callzi {
    display: none;
}

#nav_bar_callzi .navbar-nav > li > a:hover,
#nav_bar_callzi .navbar-nav > li.active > a,
#nav_bar_callzi .navbar-nav > li:hover > a,
#nav_bar_callzi .navbar-nav > li.active > a:hover,
#nav_bar_callzi .navbar-nav > li.active > a:focus {
    color: #fff;
    background-color: #003a81 !important;
}
.icon-feature-horizontal {
    width:100%;
}
.icon-feature-horizontal .content p {
    font-size: 16px;
}
.fa-beneficios {
    margin-top: 15px;
    font-size: 80px;
}
.color-orange{
    color: #e86737;
}
.color-green {
    color: #00a29a;
}
.color-white {
    color: #fff;
}
@media (max-width: 768px) {
    #home_text {
        font-size: 30px;
    }
}
.large_bold_white {
    font-size: 40px;
}

#contact .fullwidth-section {
    padding-bottom: 0px;
    padding-top: 65px;
}
#contact form {
    padding: 1em 0;
}
/**** FORM CONTACT ****/
#form_contact .feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.18);
  border:2px solid #e86737;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

#form_contact .feedback-input:focus {
    border:2px solid #00a29a;
}

#form_contact textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

#form_contact [type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#00a29a;
  border-radius:1px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:6px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  height: 50px;
}

#form_contact [type="submit"]:hover {
    background:#00a29a;
}

.final-message {
    text-align: center;
    color: #fff;
    font-size: 25px !important;
}

/***** MAIN TITLE *****/
#main_box_title {
    top: 17%;
    width: 100%;
    position: absolute;
}
#main_title {
    width: 80%;
    margin-left: 10%;
}
#main_p {
    text-align: center;
    padding: 0px 20%;
}
#main_box_title p {
    font-size:28px;
    line-height: 35px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
    opacity: 1;
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
    border-color: rgb(255, 214, 88);
    border-style: none;
}

#main_box_title .sub_title {
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 50px;
    line-height: normal;
}
#main_box_title .img-responsive {
    /*display: block !important;
    max-width: 100% !important;*/
    height: 200px;
    width: auto;
    width: 450px;
}
#main_title #row_logo {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.signup-box {
  background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 30px 20px 30px;
    /*top: 20px;*/
    /*width: 400px;*/
    margin-bottom: 50px !important;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin:auto;
}

.signup-title {
  text-align: center;
  font-weight: 600 !important;
  color: #003a81 !important;
  margin-top: -15px;
  font-size: 25px;
}
.signup-subtitle {
  text-align: center;
  font-size: 20px !important;
  color: #003a81 !important;
  margin-top: -15px;

}

#recaptcha_elem div, #recaptcha_elem2 div{
  margin:auto;
}

@media screen and (max-width: 390px){
    #recaptcha_elem2 div {
        transform:scale(0.90);
        -webkit-transform:scale(0.90);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        margin:auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 370px){
    #recaptcha_elem div, #recaptcha_elem2 div {
        transform:scale(0.88);
        -webkit-transform:scale(0.88);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        margin:auto;
    }
}

.form-control:focus {
  border-color: #003a81 !important;
}

.form-group input, .form-group textarea {
    border: 1px solid #EEE;
}

.bg-white {
  background-color: white;
}

.gliphycon-gray {
  color: gray;
  top:5px !important;
}

.callzi-blue {
  color: #003a81 !important;
}

.callzi-yellow {
  color: #FFC107 !important;
}

.callzi-tos {
  font-size: 14px;
  color:white;
  margin: 15px 0px;
}

.button-register {
  background-color: #003a81 !important;
  color:white !important;
}

.button-login {
  background-color: #e86737;
  color: white;
}

.button-callzi-blue {
  background-color: #003a81 !important;
  color: white;
}

.button-callzi-green {
  background-color: #00a290 !important;
  color: white;
}
.button-callzi-orange {
  background-color: #e86737 !important;
  color: white;
}

.button-small-screen {
  margin-top: 0px;
}

#register_small {
  display:none;
}

#close_register {
  display:none;
}

#span_success {
    color: #00a290 !important;
    font-size: 16px !important;
}
 #side_text{
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-size: 27px;
    line-height: 1.4;
    margin-bottom: 20px;
 }

 #logo_home{
    width: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
 }

 .sub_title{
  font-size: 36px;
 }

 /***************************
        packages
****************************/

.callzi-packages {
  text-align: center;
}
.callzi-packages .package {
  border: solid 1.5px #003A81;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px 10px;
  max-width: 250px;
  text-align: center;
}
.callzi-packages .package.recommended {
  font-size: 1.1em;
  border: solid 2.5px #e86737;
  max-width: 260px;
  padding-bottom: 15px;
  padding-top: 0;
}
.callzi-packages .package h3 {
  width: 100%;
  text-align: center;
  background-color: #003A81;
  color: #fff;
  padding: 10px;
  margin: 0;
  margin-bottom: 12px;
}
.callzi-packages .package.recommended h3 {
  background-color: #e86737;
  font-size: 1.5em;
}
.callzi-packages .package .buttons {
  text-align: center;
  margin-bottom: 15px;
}
.callzi-packages .package .buttons * {
  font-size: 1.3em;
}
.callzi-packages .package-description {
  min-height: 220px;
}
.callzi-packages .package-description p {
  padding: 0 10px;
}
.callzi-packages .package-description ul {
  text-align: left;
  list-style: none;
  padding: 0;
}
.callzi-packages .package-description ul li {
  padding: 10px;
  font-size: 0.95em;
}
.callzi-packages .package-description ul li:nth-child(odd) {
  background-color: rgba(249,249,249,0.75);
}
.callzi-packages .package-description ul li:nth-child(even) {
  background-color: #fff;
}
@media (min-width: 992px) {
  #selectPackageModal .modal-lg {
    width: 98%;
  }
}
@media (min-width: 1280px) {
  #selectPackageModal .modal-lg {
    width: 1200px;
  }
}

/***************************
        FORM SUSCRIBE
****************************/

#row_form_susc {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
}
#row_form_susc #col1 {
    padding-right: 0px !important;
}
#row_form_susc #col2 {
    padding-left: 0px !important;
}
#row_form_susc #col1 input {
    border-radius: 0px 0px 0px 0px;
    height: 47px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
#row_form_susc #col2 .button-text{
    line-height: 50px;
    height: 47px;
}
#row_form_susc #col2 .button-inside{
    line-height: 50px;
    height: 47px;
    text-transform: none;
}
#submit_form_susc {
    padding: 0;
    border: none;
    background: none;
    width: 100%;
}

/****** BTN SUSCRIBE *********/

.button-fill {
  text-align: center;
  background: #ccc;
  display: inline-block;
  position: relative;
  width: 100%;
}
.button-fill.grey {
  background: #445561;
  color: white;
}
.button-fill.orange {
  background: #e86737;
  color: #fff;
}
.button-fill.orange .button-inside {
  color: #e86737;
}
.button-fill.orange .button-inside.full {
  border: 1px solid #e86737;
}
.button-text {
  /*padding: 0 25px;*/
  line-height: 56px;
  letter-spacing: .1em;
  text-align: center;
}
.button-inside {
  width: 0px;
  height: 54px;
  margin: 0;
  float: left;
  position: absolute;
  top: 1px;
  left: 50%;
  line-height: 54px;
  color: #445561;
  background: #fff;
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
  -moz-transition: width 0.5s, left 0.5s, margin 0.5s;
  -o-transition: width 0.5s, left 0.5s, margin 0.5s;
  transition: width 0.5s, left 0.5s, margin 0.5s;
}
.button-inside.full {
  width: 100%;
  left: 0%;
  top: 0;
  margin-right: -50px;
  border: 1px solid #445561;
}
.inside-text {
  text-align: center;
  position: absolute;
  right: 50%;
  letter-spacing: .1em;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

@media screen and (min-width: 1025px) and (max-width: 1400px) and (orientation:landscape) {
    #main_box_title {
        top: 7% !important;

    }
}

/*************************
    PORTRAIT CONFIG
**************************/
@media screen and (min-width: 701px) and (max-width: 1024px) and (orientation:portrait) {

    #main_box_title {
        top: 7% !important;
    }
    #main_title {
        width: 90%;
        margin-left: 5%;
    }
    #main_box_title p {
        font-size:23px;
        line-height: 30px;
    }
    #main_box_title .sub_title {
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    #main_box_title .img-responsive {
        height: 160px;
        width: auto;
    }

    .signup-box {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px 30px 20px 30px;
      margin-top: 20px;
      width: 400px;
      margin-top:0px ;
      overflow: hidden;
      border-radius: 5px;
    }

    #signup_box .form-group.has-feedback {
      margin-top: -10px;
    }
    #signup_box .callzi-tos {
      line-height: 20px;
      margin-top: 0px;
    }
    #signup_box .box-of {
      text-align: center;
    }
    #signup_box .box-of .pull-right{
      float:none !important;
    }
    #signup_box .box-of .pull-left{
      float:none !important;
    }

    .margin_top_sign_up{
      margin-top: -430px;
    }
    .button-small-screen {
      margin-top: 40px;
    }

    .signup-subtitle {
      margin-bottom:15px;
    }
}
@media screen and (min-width: 501px) and (max-width: 700px) and (orientation:portrait) {
    #main_box_title {
        top: 15% !important;
    }
    #main_box_title p {
        font-size:23px;
        line-height: 30px;
    }
    #main_box_title .sub_title {
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    #main_box_title .img-responsive {
        height: 160px;
        width: auto;
    }

    .signup-box {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px 30px 20px 30px;
      margin-top: 20px;
      width: 100%;
      /*margin-bottom:300px ;*/
      overflow: hidden;
      border-radius: 5px;
    }

    #signup_box .form-group.has-feedback {
      margin-top: -10px;
    }
    #signup_box .callzi-tos {
      line-height: 20px;
      margin-top: 0px;
    }
    #signup_box .box-of {
      text-align: center;
    }
    #signup_box .box-of .pull-right{
      float:none !important;
    }
    #signup_box .box-of .pull-left{
      float:none !important;
    }

    .margin_top_sign_up{
      margin-top: -430px;
    }
    .button-small-screen {
      margin-top: 40px;
    }

    .signup-subtitle {
      margin-bottom:15px;
    }
}
@media screen and (min-width: 401px) and (max-width: 500px) and (orientation:portrait) {
    #main_box_title {
        top: 5% !important;
    }
    #main_box_title p {
        font-size:23px;
        line-height: 30px;
    }
    #main_box_title .sub_title {
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    #main_box_title .img-responsive {
        height: 160px;
        width: auto;
    }

    .signup-box {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px 30px 20px 30px;
      margin-top: 20px;
      width: 100%;
      /*margin-bottom:200px ;*/
      overflow: hidden;
      border-radius: 5px;
    }

    #signup_box .form-group.has-feedback {
      margin-top: -10px;
    }
    #signup_box .callzi-tos {
      line-height: 20px;
      margin-top: 0px;
    }
    #signup_box .box-of {
      text-align: center;
    }
    #signup_box .box-of .pull-right{
      float:none !important;
    }
    #signup_box .box-of .pull-left{
      float:none !important;
    }

    .margin_top_sign_up{
      margin-top: -485px;
    }
    .button-small-screen {
      margin-top: 40px;
    }

    .signup-subtitle {
      margin-bottom:15px;
    }
}
@media screen and (min-width: 351px) and (max-width: 400px) and (orientation:portrait) {
    #main_box_title {
        top: 10% !important;
    }
    #main_box_title p {
        font-size:20px;
        line-height: 20px;
    }

    #main_box_title .sub_title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .button-fill.orange {
        width:132%;
    }
    #main_p {
      padding: 0px 5%;
    }
    #main_box_title .img-responsive {
        height: 100px;
        width: auto;
    }
    #row_form_susc {
        margin-left: 0px;
        margin-right: 30px;
    }

    .signup-box {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px 30px 20px 30px;
      width: 100%;
      /*margin-top:200px ;*/
      overflow: hidden;
      border-radius: 5px;
    }

    #signup_box .form-group.has-feedback {
      margin-top: -10px;
    }
    #signup_box .callzi-tos {
      line-height: 20px;
      margin-top: 0px;
    }
    #signup_box .box-of {
      text-align: center;
    }
    #signup_box .box-of .pull-right{
      float:none !important;
    }
    #signup_box .box-of .pull-left{
      float:none !important;
    }

    .margin_top_sign_up{
      margin-top: -485px;
    }
    .button-small-screen {
      margin-top: 30px;
    }

    .signup-subtitle {
      margin-bottom:15px;
    }


}
@media screen and (min-width: 300px) and (max-width: 350px) and (orientation:portrait) {
    #main_box_title {
        top: 4% !important;
    }
    #main_box_title p {
        font-size:20px;
        line-height: 20px;
    }
    #main_box_title .sub_title {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .button-fill.orange {
        width:132%;
    }
    #main_p {
      padding: 0px 5%;
    }
    #main_box_title .img-responsive {
        height: 100px;
        width: auto;
    }
    #row_form_susc {
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 30px;
    }
    #title_contactacnos {
      font-size: 39px;
    }
    #sub_title_como_funciona{
      margin-left: 10px;
      margin-right: 10px;
    }

    .signup-box {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px 30px 20px 30px;
      margin-top: 20px;
      width: 100%;
      /*margin-bottom:100px ;*/
      overflow: hidden;
      border-radius: 5px;
    }

    #signup_box .form-group.has-feedback {
      margin-top: -10px;
    }
    #signup_box .callzi-tos {
      line-height: 15px;
      margin-top: -10px;
    }
    #signup_box .box-of {
      text-align: center;
    }
    #signup_box .box-of .pull-right{
      float:none !important;
    }
    #signup_box .box-of .pull-left{
      float:none !important;
    }

    .margin_top_sign_up{
      margin-top: -450px;
    }
    .button-small-screen {
      margin-top: 10px;
    }

    .signup-subtitle {
      margin-bottom:15px;
    }

}

@media screen and (min-width: 300px) and (max-width: 700px) and (orientation:portrait) {
  #register_small {
     display:block;
  }

  #signup_box {
     width:100%;
  }

  #close_register {
    display:block;
  }
}

/***** FIN PORTRAIT ******/


/*************************
    LANDSCAPE CONFIG
**************************/
@media screen and (max-width: 1024px) and (orientation:landscape) {
    #main_box_title {
        top: 10% !important;
    }
    #main_title {
        width: 90%;
        margin-left: 5%;
    }
    #main_p {
      padding: 0px 5%;
    }
    #main_box_title p {
        font-size:23px;
        line-height: 25px;
    }
    #main_box_title .sub_title {
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    #main_box_title .img-responsive {
        height: 100px;
        width: auto;
    }
    #row_form_susc {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
    }
}
@media screen and (min-width: 300px) and (max-width: 700px) and (orientation:landscape) {
    #main_box_title {
        top: 2% !important;
    }
    #main_box_title .img-responsive {
        height: 70px;
        width: auto;
    }
    #main_box_title p {
        font-size:17px;
        line-height: 20px;
    }
    #main_box_title .sub_title {
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    #row_form_susc {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .signup-box {
      padding: 30px 30px 20px 30px;
      width: 100%;
      /*margin-bottom:100px ;*/
      overflow: hidden;
      border-radius: 5px;
    }

    #signup_box .form-group.has-feedback {
      margin-top: -10px;
    }
    #signup_box .callzi-tos {
      line-height: 16px;
      margin-top: 0px;
    }
    #signup_box .box-of {
      text-align: center;
    }
    #signup_box .box-of .pull-right{
      float:none !important;
    }
    #signup_box .box-of .pull-left{
      float:none !important;
    }

    .margin_top_sign_up{
      margin-top: -270px;
    }
    .button-small-screen {
      margin-top: 30px;
    }

    .signup-subtitle {
      margin-bottom:15px;
    }

    #register_small {
      display:block;
    }
}

/******** SIMPLE ICON *********/

#div_si {
    width: 242px;
    height: 95px;
    left: 50%;
    margin-left: -121px;
    position: relative;
    top: -13px;
}
.simple-icon {
    font-size: 61px;
    color: #777;
    position: absolute;
}
#si_1 {
    top: 28px;
    left: 68px;
}
#si_2 {
    font-size: 62px;
    top: 14px;
    left: 103px;
}
#si_3 {
    top: 29px;
    right: 71px;
    font-size: 56px;
}
.scrollup i {
  background-color: rgba(232,101,55,0.6)
}
.scrollup i:hover {
  background-color: rgba(232,101,55,1)
}

#row_button_know_more a {
    display: block;
    width: 240PX;
    font-size: 14px;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: #E86737;
}
#row_button_know_more a:hover {
    background-color: #E25826;
}

#odometer {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 600;
}
#title_calls_callzi {
  font-size: 16px;
  text-align: center;
  margin-top: -10px;
}
.content_calls_callzi {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.64285;
  letter-spacing: 0.3px;
}
